body {
    font-family: "Work Sans", sans-serif;
    }
.time {
    background: white;
    animation: color-ani 12s infinite;
    padding: 8px;
    text-align: center;
    width: 200px;
    margin-left: 87%;
    margin-top: 1.3%;
}
.time:hover{
    color:black;
    font-size: 17pt;
}
.hms {
    font-size: 15pt;
    font-weight: 200;
}
.ampm {
    font-size: 10pt;
}
.date {
    font-size: 10pt;
}
@keyframes color-ani {
    0% { color:#e94335;}
    20% { color: #f7bc33;}
    40% { color: #55a854; }
    60% { color:#4285f4;}
    80% {color: violet;}
    100% { color: #e94335;}
  }